@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: rgb(255, 255, 255);
  --foreground-rgba: rgb(0, 0, 0);
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-rgb);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main-container {
  padding-top: 4vh;
  padding-bottom: 4vh;
  padding-left: 6vw;
  padding-right: 6vw;
  height: 100%;
}

.glass-container-black {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.glass-container-white {
  background: rgba(0, 50, 147, 0.1);
  border-radius: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.glowing-dot-red {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 15px 2px rgba(244, 109, 93, 0.8);
  background-color: rgba(244, 109, 93, 1);
}

.glowing-pfp {
  box-shadow: 0px 4px 20px 4px rgba(110, 135, 237, 0.2);
  border-radius: 50%;
}

.button-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.audio-player,
.video-player {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.audio-player,
.video-player,
.recorded-player {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.live-player {
  height: 200px;
  width: 400px;
  border: 1px solid #646cff;
  margin-bottom: 30px;
}
.recorded-player video {
  height: 400px;
  width: 800px;
}

.shadow {
  box-shadow: 0px 4px 20px 4px rgba(110, 135, 237, 0.2);
}

.loader {
  width: 40px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
